/*当992px<=width<=1199px时  设为970*/
@media (max-width:1199px){
	/* 导航栏调整 */
	.hd .kuang {
		margin: 18px 4px 18px 10px;
		width: 200px;
	}
	.sousuokuang {
		width: 280px;
	}
	
	/* works小盒子的调整 */
	.model_con .gequ_box{
		margin:3% 2%;
	}
	.song_con .box{
		margin: 60px 10px 30px 20px;
	}
	/* share页面盒子调整 */
	.share_box {
		width: 296px;
		margin: 12px;
		min-height: 342px;
	}
	.share_box p {
		padding: 2px 16px;
	}
	
	/* play页面框调整 */
	.play{
		height: 600px;
	}
	.play_con .youxi,.play_con li{
		height:558px;
	}
	.play_con .out_kuang{
		height:100px;
	}
	.gushi .gs_text{
		height:448px;
	}
	.gushi .gs_con,.gushi .gs_nav{
		height:500px;
	}

	.play_con .gedan:nth-child(2){
		margin:56px 20px;
	}
	.suiji_choose dd{
		margin: 20px 18px 0;
		height: 150px;
	}
	

	/* game页面 */
	.game .game_word{
		width: 52%;
	}
	
	/* heal页面 */
	.heal_out .tishi_box{
		width: 960px;
	}
	.zhiyuwen .zhiyuwen_con{
		width: 930px;
	}
	/* fiction页面 */
	.fic_body .header{
		min-width: 970px;
	}
	.article .con{
		width: 870px;
	}
	.art_aside{
		flex:2;
	}
	
	/* 综合调整 */
	
	.hd,.banner,.banner li,.banner img,.words,.new,.games,.videos,.songs,.fictions,.share_con,.play,.play_con li,.play_con .youxi,.art_tankuang,.game_top,.games_con,.games_con .game,.share_con,.play_title,.fic_con,.all_article ,.article_toc,.all_article .article,.article .con_out,.heal_out,.zhiyuwen{
	     width: 970px;
	}
	.heal_body ,.fic_body,.game_body,.fic_con{
		min-width: 970px;
	}
	.play_title a,.title a,.new_title span{
		margin-right: 42px;
	}
	
	/* 字体修改 */
	.article_toc li,
	.art_aside dd,
	.art_aside p {
		font-size:18px;
		max-height: 999999px;
	}
	.hd li i,
	.hd li b,
	.words p,
	.share_box p,
	.back_doit,
	.gushi .gs_nav h4,
	.article .key_w,
	.game .game_word p,
	.gushi .gs_text p,
	.play_con .gushi,
	.toc p,
	.toc span{
		font-size:0.9rem;
		max-height: 999999px;
	}
		
	.gushi .gs_text p{
		margin-bottom: 12px;
	}
	
	.play_title h3,
	.gs_text h5,
	.article .con p,
	.heal_out .tishi_box p,
	.out_kuang .wen_kuang p,
	.zhiyuwen .zhiyuwen_con span{
		font-size: 0.8rem ;
		max-height: 999999px;
	}
	.model_con p,
	.title a,
	.new_title span,
	.fic_head span,
	.footer ,
	.footer h1,
	.heal_out .tishi_words{
		font-size: 0.72rem;
		max-height: 999999px;
		
	}
}

/*当768px<=width<=991px时  设为750 */
@media (max-width:991px){
	html{
		font-size: 21.14px;
	}
	.fic_body,.heal_body{
		height: 100vh;
	}
	.hd,.banner,.banner li,.words,.new,.games,.videos,.songs,.fictions,.share_con,.play,.play_con li,.play_con .youxi,.art_tankuang,.game_body,.game_top,.games_con,.games_con .game,.share_con,.play_title,.fic_con,.all_article ,.article_toc,.all_article .article,.article .con_out,.heal_out,.zhiyuwen{
		width: 46.875rem;
	}
	.article_toc{
		height: 9.460737rem;
	}

	.sousuokuang {
		display: none;
	}
	/* 字体修改 */
	.article h1,.article .con_out .more{
		font-size: 1rem;
	}
		

	.article_toc li,
	.art_aside dd,
	.art_aside p {
		font-size:1.1rem;
		max-height: 999999px;
	}
	.hd li i,
	.hd li b,
	.model_con b,
	.model_con h2,
	.words p,
	.share_box p,
	.back_doit{
		font-size:1rem;
		max-height: 999999px;
	}
		
	/* .play_con .gushi, */
	.gushi .gs_nav h4,
	.gushi .gs_text p,
	.article .key_w,
	.game .game_word p,
	.game_word a,
	.toc p,
	.toc span{
		font-size:1.15rem;
		max-height: 999999px;
	}
	
	.play_title h3,
	.gs_text h5,
	.article .con p,
	.heal_out .tishi_box p,
	.zhiyuwen .zhiyuwen_con span{
		font-size: 1.15rem ;
		max-height: 999999px;
	}
	.model_con p,
	.title a,
	.new_title span,
	.fic_head span,
	.footer ,
	.footer h1,
	.heal_out .tishi_words{
		font-size:  0.9rem;
		max-height: 999999px;
		
	}
	
		
	.article .con p{
		line-height: 1.6rem;
	}
	.article_kuang p{
		font-size: 1.15rem;
	}
	.heal_out .hl_title{
		margin: 2rem auto 3rem;
		font-size: 28px;
	}
	.zhiyuwen .zhiyuwen_con span{
		font-size: 1.05rem;
		padding: 0.8rem;
		
	}
	.zhiyuwen{
		margin-top: 2rem;
	}
	.route{
		padding-top: 120px;
		padding-bottom:40px ;
	}
	
	.banner img{
		width:  46.875rem;
	}
		
	.new_con .box{
		background-size: cover;
	}
	.model_con {
		flex-wrap: wrap;
		
	}
	.song_con{
		padding-bottom: 2rem;
	}
	.model_con .box{
		overflow: hidden;
	}
	.title{
		margin-bottom: 1.25rem;
	}
	.play_title{
		height: 2.365184rem;
		margin-bottom: unset;
	}
	.model_con .box,.model_con .box_kuang{
		width: 21rem;
		height: 10rem;
		margin-bottom: 1.875rem;
	}
	
	.model_con .box_kuang{
		top:23.75rem;
	}
	
	
	.box_kuang.kuang1,.box_kuang.kuang2{
		top: -11.25rem;
	}
	.box3:hover .kuang3,.box4:hover .kuang4{
		top: 11.875rem;
	}
	
	.fic_box,.song_con .gequ_box{
		margin-bottom:3.75rem;
	}
	
	.heal_body ,.fic_body,.game_body,.share_body{
		width: 100%;
		min-width: 46.875rem;
	}
		
	.kapian{
		display: block;
	}
	.share_box{
		width: 21.5rem;
		height: 21.5rem;
	} 
	.share_box p{
		font-size: 1.1rem;
	}
	.share_con{
		justify-content: space-around;
	}
	
	/* play页面 */
	.play{
		min-height: 33.375rem;
		position: relative;
		height: auto;
	}
	
	.play_con li{
		min-height: 31.75rem;
		height: auto;
	}
	.play_con .youxi{
		height: 31.740775rem;
		background-size: cover;
		background-position: center;
	}
	.play_title a{
		margin-right: 3.25rem;
	}
	.play_title h3{
		padding:0.2rem 2.25rem;
	}
	
	.play_con .out_kuang {
		height: auto;
	}
	
	.out_kuang .wen_kuang{
		width: 32rem;
	}
	
	.out_kuang .wen_kuang p{
		padding:0px 0.5rem;
		line-height: 1.4rem;
		font-size: 1.1rem;
	}
	 
	
	.play_con .gushi{
		margin:2rem 1rem;
		width: 44.875rem;
		position: relative;
		height: 62.5rem;
	}
	.gushi .gs_con{
		width: 44.875rem;
		height: 62.5rem;
	}
	.gushi .navOpenBtn{
		display: block;
		position: absolute;
		right: 1.25rem;
		top:28.5rem;
		font-size: 3.75rem;
		color:#BBBBBB ;
		cursor: pointer;
	}
	.gushi .navOpenBtn:hover{
		color: #666666;
	}
	.gushi .navCloseBtn{
		width: 3.75rem;
		height:2.5rem;
		position: absolute;
		right: 0rem;
		top:1.125rem;
		font-size:1.75rem;
		text-align: center;
		vertical-align: text-top;
		color:#98f1f1;
		cursor: pointer;
		z-index:8;
		font-weight: 700;
		transform: rotate(330deg);
		transition: 0.3s;
	}
	.gushi .navCloseBtn:hover{
		transform: unset;
	}
	.gushi .gs_text{
		width: 38.75rem;
		height: 60rem;
	}
	.gushi .gs_nav{
		position: absolute;
		right:-1rem;
		top:0;
		display: none;
	}
	
	
	.play_con .gedan{
		width:40.625rem;
		min-height: 16.083254rem;
		margin: 1rem 3.125rem;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		display: block;
		text-align: center;
		padding:0px 0 30px;
	}
	.play_con li:nth-child(3){
		flex-direction: column;
	}
	.play_con .gedan:nth-child(2) {
		margin: 1rem 3.125rem;
	}
	
	.play_con .gedan h4{
		margin-top: 1.875rem;
		margin-left: 18.5rem;
	}
	
	
	.play_con .gedan p{
		font-size: 0.9375rem;
		max-height: 999999px;
		padding: 0.125rem 4.375rem;
		margin-left: 9.375rem;
		
	}
	
	.play_con .gedan img{
		margin-top: 1.875rem;
		margin-left: 18.5rem;
	}
	
	.play_con .gedan a{
		position: absolute;
		top:5.5rem;
		left:8.25rem;
		width: 1.125rem;
		padding: 0.625rem;
		font-size:1rem;
	}
	.play_con .gedan .lyrics{
		height: 72%;
		width: 100%;
		position: absolute;
		overflow:auto;
		bottom:5px;
		left: 0px;
		
	}
	.back_doit{
		padding:1.25rem 2.5rem;
		width: 80%;
	}
	
	.suiji_choose dd{
		width: 96%;
		margin: 0.75rem 0.875rem ;
		box-shadow: 0 0 2px #eee;
		height:8.041627rem;
	}
	.suiji_choose dd:hover{
		background-size: 22%;
	}
	.suiji_choose dd span{
		font-size: 24px;
		width: 24px;
		line-height: 28px;
	}
	
	.article .con{
		width:40.625rem;
	}
	
	
	.heal_out .hl_box{
		width: 15rem;
		padding: 0.5rem;
	}
	
	.heal_out .hl_box:nth-of-type(2){
		margin:0 -0.5625rem;
	}
	.heal_out .tishi_box{		
		width: 46.875rem;
	}
	
	.zhiyuwen .zhiyuwen_con{
		width: 44.375rem;
		height: auto;
	}
	.games_con .game{
		min-height: 32rem;
	}
	.game .game_pic{
		width: 15rem;
		height: 8.375rem;
		background-size: cover;
	}
		
	.game .game_word{
		width: 25.375rem;
		min-height: 16.5rem;
	}	
	.words p{
		font-size: 1.02rem;
	}
	.toc .l_tu span:nth-of-type(2){
		top: 256px;
	}
	.toc .l_tu span:nth-of-type(3){
		top: 280px;
		left: -36px;
	}
	.toc .l_tu span:nth-of-type(4){
		top: 280px;
		left: 76px;
	}
	.toc .l_tu #huabu{
		margin: 60px;
	}
}

/*当width<=767px时  设为750 */
/* @media (max-width:767px){
	html{
		font-size: 21.14px;
	}
} */