*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #000000;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
	user-select: none;
}

h2{
	font-size: 1.17em;
}

ul{
	list-style: none;
}
input{
	margin-right: 4px;
}

textarea{
	outline: none;
	border: 1px solid #888888;
}

body{
	background-color: #f6f6f6;
	min-width: 900px;
}
::-webkit-scrollbar {
	width: 4px;   
	height: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: #1abc9c;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 0;
	background: #fff;
}

.tips{
	font-size: 14px;
	color:#c5c5c5;
}
.simplebtn{
  padding: 4px 10px;
	border: 1px solid white; 
	border-radius: 16px; 
	cursor: pointer;
	color: white;
	background-color:#1abc9c ;
	font-size: 14px;
}
  
.simplebtn:hover{
  background-color: #ff4f1a;
}
.circlebtn{
	padding:4px 16px;
	display: inline-block;
	border-radius: 16px;
	margin:10px 6px 0px;
	cursor: pointer;
	font-size: 14px;
	color: white;
	border: 1px solid #16A085;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
}

.write .circlebtn{
	background-color: #1abc9c;
}
.circlebtn.orange{
	background-color: #ff4f1a;
	color: white;
}
.circlebtn.edit{
	display: none;
}
.circlebtn:hover{
	background-color: #16A085;
	color: white;
}

.finishbtn,.writebtn,.simplebtn,.circlebtn,label{
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

.menu{
	text-align: right;
	height: 52px;
	background-color: #1ABC9C ;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;
}
.getSummary{
	position: absolute;
	left: 0;
	top: 52px;
	background-color: #000000;
	height: 4px;
	width: 100%;
	/* box-shadow: #aaa 0 0 4px; */
}
.scrollbar_orange{
	height: 100%;
	width: 0%;
	background-color: #ff4f1a;
}
.progress{
	position: absolute;
	right: 0;
	top:4px;
	color: #ff4f1a;
	font-size: 12px;
	margin-right:10px;
	padding:0 2px;
	background-color: #000000;
}
.controlers {
	padding-bottom:16px;
	text-align: right;
	margin-right: 16px;
}
.aside .controlers{
	padding-top: 10px;
}
.controlers label{
	margin: 10px;
}
.header_back{
	position: absolute;
	width: 100%;
	height: 42px;
	left: 0;
	top: -42px;
	background-color: #000000;
	z-index: -1;
}
.header{
	position: relative;
	padding: 6px 16px;
	margin-top: 30px;
	border-bottom: #1ABC9C solid 1px;
	color: #5f5f5f;
}
.aside .header{
	color: #c2c2c2;
}
.arrowbtn{
	/* 想要旋转得把它弄成盒子，块级元素或行级块元素 */
	display: inline-block;
	transform: rotateZ(-90deg);
	position: absolute;
	right: 20px;
	top:4px;
	cursor: pointer;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	-webkit-user-select: none;
	user-select: none;
}

.main{
	display: flex;
	margin: 52px auto 0;
	width: 100%;
	/* position: relative; */
}

.content{
	min-width: 50%;
	width: 100%;
	padding:20px;
	height: 100%;
	min-height: 90%;
}
.content.simplepart{
  display: none;
	position: relative;
}
.simplepart p{
	margin-top: 22px;
}
.originFile{
	background-color: #EEEEEE;
	font-size: 14px;
	padding: 20px;
	margin-bottom: 30px;
}
.writeBoxForCopy{
	position: absolute;  
	left: 20px;
	padding: 12px;
	width: 90%;
	max-height: 480px;
	height: 30%;
}
.aside{
	max-width: 50%;
	width: 50%;
	padding:20px;
	/* height: 100%; */
	min-height: 90%;
	background-color: #2a2a2a;
	color: white;
	border-radius: 0 0 10px 10px;
}
.part{
	position: relative;
	padding:0 20px 30px;
	background-color: #070707;
	border-radius: 0 0 10px 10px;
}
.hidden{
	display: none;
}

/* 参考卡 */
.clearall{
	position: absolute;
	right: 0;
	top: -8px;
}
/* write */
.write{
	z-index: 10;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top:52px;
	height: 36%;
	display: none;
}
.write textarea{
	width: 60%;
	height: 60%;
	padding: 20px;
	margin-left: 20%;
	border-radius: 10px;
	box-sizing: border-box;
	outline: none;
	position: relative;
}

.write .btns{
	text-align: center;
	margin-bottom: 10px;
	position: relative;
}

.write .back{
	width: 100%;
	height: 100%;
	background-color: rgba(36,188,160,0.5);
	margin: unset;
	position: absolute;
	left: 0;
	top:0;
}
/* upfloor */
.upfloor{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	background-color: #000000;
	color: white;
	display: none;
	z-index: 8;
}
.upfloor_content{
	padding: 30px;
	position: absolute;
	left: 0;
	right: 0;
	top: 60px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
}


.small{
	font-size: 14px;
	font-weight: 400;
}
.analyzeCon{
	display: flex;
	border-top: #363636 solid 1px;
	padding-top: 20px;
	min-height: 500px;
}

.analyzeCon .list{
	flex:1;
	text-align: center;
	margin: 0 14px;

}
.list h4{
	height: 24px;
}

.detail{
	text-align: left;
	min-height: 460px;
	border: 1px solid #16A085;
	padding:8px 16px;
	margin-top: 8px;
	border-radius: 14px;
	font-size: 14px;
	color: white;
}
.detailSimple{
  text-align: left;
  padding:8px 16px;
  margin-top: 8px;
  font-size: 14px;
}
.detail p{
	margin: 12px 0;
}

.writebtn{
	position: relative;
	width: 18px;
	height: 18px;
	display: inline-block;
	transform: rotateZ(45deg);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	margin-left: 10px;
	margin-top: 2px;
	border: 1px solid transparent;
	border-radius: 50%;
	transition: all 0.6s;
	vertical-align: text-bottom;
}

.writebtn::before{
	content: "";
	display: inline-block;
	width: 4px;
	height: 14px;
	background-color: #1ABC9C;
	position: absolute;
	left:7px;
	
}
.writebtn::after{
	width: 0px;
	height: 0px;
	border-top: 4px solid hotpink;
	border-left: 2px solid  transparent;
	border-right: 2px solid  transparent;
	content: "";
	position: absolute;
	display: block;
	top:14px;
	left:7px;
}
.writebtn:hover{
	transform: rotateZ(0deg);
	border-color:#1ABC9C;
	background-color: #333333;
}

.writebtn.line,.deletebtn.line, .numberbtn.line{
		display:none;
}
.deletebtn,.numberbtn{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	margin-left: 14px;
	cursor: pointer;
	font-size: 14px;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	border: 1px solid transparent;
	transition: all 0.6s;
}

.numberbtn{
  color: #FF0099;
  border-radius: 50%;
  border-color: #1ABC9C;
  background-color: #333333;
}

.deletebtn:hover{
	border-color: #1ABC9C;
	background-color: #333333;
	transform:rotateZ(90deg);
}

.finishbtn{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: white 1px solid;
	margin-left: 14px;
	font-size: 14px;
	cursor: pointer;
}
.finishbtn:hover{
	background-color: #1ABC9C;
}

.tmpMaylist,.tmpProject,.tmpWaitlist,.tmpDaylist,.tmpDolist{
	min-height: 100px;
}



b {
	font-weight: 400;
	/* height: 22px; */
	/* line-height: 22px; */
}
b.overtime{
	color:#2b2b2b;
}

.tmpDolist b,
.tmpDaylist b,
.tmpWaitlist b{
	cursor: pointer;
}

b.finish {
	color: #dddddd;
	text-decoration: line-through;
}
b.chosed{
	color: #16A085;
}
.detail li{
	position: relative;
	min-height: 34px;
	line-height: 26px;
}

ul li:hover {
	color: hotpink;
}
ul li:hover .line{
	display: inline-block;
}

li:hover .cbox {
	border-color: pink;
}

.detail input[type="checkbox"] {
	display: none;
}


.detail .cbox {
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	top: 4px;
	left: 0;
	padding-right: 6px;
}

	
.detail .cbox::before{
	display: inline-block;
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid #dddddd;
	
}
.detail input:checked+.cbox::before {
	border-color: transparent;
}
.detail input:checked+.cbox::after {
	display: inline-block;
	content: "\2714";
	position: absolute;
	left: 3px;
	top: -6px;
	font-size: 16px;
	color: pink;
}

.isEdit .detail .writebtn{
	display: none;
}
.isEdit .detail .deletebtn{
	display: none;
}
.isEdit .detail .numberbtn{
	display: none;
}
.list .detail .numberbtn.active{
	display: inline-block;
}
@media (max-width:991px) {
	.detail{
		font-size: 18px;
	}
	.circlebtn{
		max-width: 94px;
	}
}